*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    background-image: none;
}

.dropDown {
    list-style: none;
    padding: 10px;
    margin: 0;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    position: absolute;
    top: 100%;
    right: 0;
    width: 300px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    margin-top: -5px;
    border-radius: 5%;
    
  }
  
.dropDown li img {
    width: 50px;
    height: 50px;
    margin-right: 15px;
}

  .dropDown li {
    padding: 8px 12px;
    cursor: pointer;
    text-align: left;
    font-weight: bold;
    display: flex;
    margin: 0;
  }
  
  .dropDown li:hover {
    background-color: #f1f1f1;
  }

  .li-first{

    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
nav{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #cccccc;
    background: #fff;
    position: fixed;
    top: 0;
    z-index: 1000;
}

nav .left .logo img{
    width: 100px;
    margin: 5px 0;
    cursor: pointer;
}

nav .left{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}

nav .left .search_bar{
    width: 250px;
    height: 40px;
    background: #efefef;
    border-radius: 30px;
    padding: 0 10px;
    margin-left: 10px;
    position: relative;
    left: 15px;
    display: flex;
}

nav .left .search_bar i{
    line-height: 40px;
    font-size: 19px;
    color: #919191;
    margin-right: 5px;
}

nav .left .search_bar input{
    background: transparent;
    outline: none;
    border: 0;
    font-size: 16px;
    width: 200px;
}

nav .center{
    position: relative;
    right: 45px;
}

nav .center i{
    margin: 0 45px 0 45px;
    font-size: 22px;
}

nav .center i:hover{
    color: #45abff;
    cursor: pointer;
}

nav .right{
    display: flex;
    align-items: center;
    margin-right: 10px;
}

nav .right i{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: #efefef;
    line-height: 35px;
    padding-left: 8px;
    font-size: 18px;
    margin-left: 8px;
    cursor: pointer;
}

nav .right img{
    width: 35px;
    height: 35px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    margin-left: 8px;
    line-height: 45px;
    cursor: pointer;
}





/*-----------------main---------------*/

.main{
    display: flex;
    margin-top: 60px;
    background: #f5f5f5;
}

.main .left{
    width: 25%;
    height: 92vh;
    overflow: hidden;
    overflow-y: scroll;
    background: #f5f5f5;
    padding: 20px 6px 5px 10px;
    position: fixed;
}

.main .left::-webkit-scrollbar{
    width: 7px;
}

.main .left::-webkit-scrollbar-thumb{
    border-radius: 20px;
    background: #f5f5f5;
}

.main .left:hover::-webkit-scrollbar-thumb{
    background: #cccccc;
}

.main .left .img{
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 0.2s;
}

.main .left .img:hover{
    background: #e3e3e3;
}

.main .left .img img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    margin: 8px 15px 8px 0;
}
.main .left-profile {
    width: 20%;
    height: 92vh;
    overflow-y: auto; /* Cho phép cuộn dọc khi nội dung vượt quá chiều cao */
    background: white;
    padding: 20px 6px 5px 10px;
    margin: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    position: fixed;
    display: flex;
    flex-direction: column; /* Đảm bảo các phần tử con sẽ xếp theo chiều dọc */
    align-items: center; /* Căn các phần tử con theo chiều ngang, bên trái */
    justify-content: flex-start; /* Căn các phần tử con theo chiều dọc, bên trên */
}

.main .left-profile .img-profile{
    width: 170px;
    height: 170px;
    margin-bottom: 20px;
    position: relative; /* Đặt vị trí tương đối cho container */
    display: inline-block;
}
.main .left-profile .img-profile .profile-img{
    width: 170px;
    height: 170px;
    object-fit: cover;
    border-radius: 50%;
    margin: 8px 15px 8px 0;
    border: 1px solid black;
}
.icon-container {
    position: absolute; /* Đặt vị trí tuyệt đối */
    bottom: 5px; /* Căn chỉnh icon ở góc dưới */
    right: 10px; /* Căn chỉnh icon ở góc phải */
    width: 30px; /* Kích thước ô hình tròn */
    height: 30px;
    background-color: white; /* Màu nền trắng */
    border-radius: 50%; /* Biến ô thành hình tròn */
    display: flex; /* Để căn giữa icon */
    justify-content: center; /* Căn giữa icon theo chiều ngang */
    align-items: center; /* Căn giữa icon theo chiều dọc */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Tạo hiệu ứng đổ bóng */
    cursor: pointer; /* Hiệu ứng con trỏ */
  }
  
  .icon-edit {
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 50%; /* Biểu tượng bo tròn */
    background: white; /* Nền trắng */
    padding: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .file-input {
    display: none; /* Ẩn input file */
  }
  
  .icon-edit-label {
    cursor: pointer;
    display: flex; /* Để căn giữa icon nếu cần */
  }
.icon{
    width: 15px;
    height: 15px;
    opacity: 100%;
    margin-right: 10px;
}
.style-flex{
    display: flex;
    align-items: center;
    margin-bottom: 5px;

}
.name-user{
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 10px;
}
.email-user{
    font-size: 15px;

}
.underline-user{
    width: 300px;
    height: 2px;
    background: #555;
    border-radius: 9px;
    margin-top: 10px;
}
.info-user{
    align-self: flex-start;
    margin-top: 20px;
    margin-left: 15px;
}

.info-user p{
    font-size: 17px;
}
.info-user img{
    width: 20px;
    height: 20px;
    margin-right: 10px;

}
.main .left-profile::-webkit-scrollbar{
    width: 7px;
}

.main .left-profile::-webkit-scrollbar-thumb{
    border-radius: 20px;
    background: #f5f5f5;
}

.main .left-profile:hover::-webkit-scrollbar-thumb{
    background: #cccccc;
}

.main .left hr{
    width: 100%;
    height: 1px;
    border: 0;
    background: #cccccc;
    margin: 10px 0;
}

.main .left h2{
    font-size: 18px;
    color: #919191;
    margin: 5px 0;
}

.main .left .edit{
    color: #45abff;
    font-size: 15px;
    float: right;
    position: relative;
    bottom: 23px;
    cursor: pointer;
    opacity: 0;
}

.main .left:hover .edit{
    opacity: 1;
}

.main .left .shortcuts{
    display: flex;
    align-items: center;
    transition: 0.2s;
}

.main .left .shortcuts:hover{
    background: #e3e3e3;
    cursor: pointer;
}

.main .left .shortcuts img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
    margin: 8px 15px 8px 0;
}


.main .center{
    width: 50%;
    height: auto;
    padding: 20px 20px 0 20px;
    background: #f5f5f5;
    margin-left: 25%;
}

.main .center::-webkit-scrollbar{
    width: 0;
}

.main .center .top_box{
    width: 100%;
    height: 260px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.main .center .top_box .my_story_card{
    width: 135px;
    height: 250px;
    overflow: hidden;
    margin: 0 auto;
    box-shadow: 0 1px 8px rgba(0,0,0,0.2);
    border-radius: 10px;
    cursor: pointer;
}

.main .center .top_box .my_story_card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.main .center .top_box .my_story_card .story_upload{
    width: 100%;
    height: 60px;
    background: #fff;
    position: relative;
    bottom: 50px;
    cursor: pointer;
}

.main .center .top_box .my_story_card .story_upload img{
    width: 30px;
    height: 30px;
    display: flex;
    margin: 0 auto;
    position: relative;
    bottom: 15px;
    border-radius: 50%;
}

.main .center .top_box .my_story_card .story_upload .story_tag{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 10px;
    font-weight: bold;
    font-size: 14px;
}

.main .center .top_box .story_card{
    width: 135px;
    height: 250px;
    overflow: hidden;
    margin: 0 auto;
    box-shadow: 0 1px 8px rgba(0,0,0,0.2);
    border-radius: 10px;
    cursor: pointer;
}

.main .center .top_box .story_card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.main .center .top_box .story_card .story_profile{
    position: relative;
    bottom: 240px;
    margin-left: 10px;
}

.main .center .top_box .story_card .story_profile img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 4px solid #45abff;
}

.main .center .top_box .story_card .story_profile .cricle{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #27cc37;
    border: 2px solid #fff;
    position: relative;
    bottom: 15px;
    left: 25px;
}

.main .center .top_box .story_card .story_name{
    position: relative;
    bottom: 100px;
    padding: 0 10px;
}

.main .center .top_box .story_card .story_name .name{
    font-weight: bold;
    color: #fff;
    font-size: 14px;
}

.main .center .my_post{
    width: 100%;
    height: auto;
    background: #fff;
    padding: 10px 15px;
    border-radius: 7px;
    box-shadow: 0 1px 8px rgba(0,0,0,0.2);
    margin: 10px 0;
}

.main .center .my_post .avt-post{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.main .center .my_post .post_top{
    display: flex;
    align-items: center;
}

.main .center .my_post .post_top input{
    width: 90%;
    padding: 10px;
    margin-left: 20px;
    border: 0;
    outline: none;
    background: #efefef;
    border-radius: 30px;
    font-size: 17px;
}

.main .center .my_post .post_top input:hover{
    background: #e3e3e3;
    cursor: pointer;
}

.main .center .my_post hr{
    width: 100%;
    height: 1px;
    background: #cccccc;
    border: 0;
    margin: 10px 0;
}

.main .center .my_post .post_bottom{
    width: 95%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 5px auto;
}

.main .center .my_post .post_bottom .post_icon{
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 7px 40px;
    cursor: pointer;
}

.main .center .my_post .post_bottom .post_icon:hover{
    background: #efefef;
    border-radius: 8px;
}

.main .center .my_post .post_bottom .post_icon i.red{
    font-size: 23px;
    color: red;
    margin-right: 8px;
}

.main .center .my_post .post_bottom .post_icon i.green{
    font-size: 23px;
    color: #27cc37;
    margin-right: 8px;
}

.main .center .my_post .post_bottom .post_icon i.yellow{
    font-size: 23px;
    color: #f7b928;
    margin-right: 8px;
}

.main .center .room{
    width: 100%;
    height: auto;
    background: #fff;
    box-shadow: 0 1px 8px rgba(0,0,0,0.2);
    padding: 10px 15px;
    border-radius: 7px;
    display: flex;
    align-items: center;
}

.main .center .room .room_image{
    display: flex;
    align-items: center;
    border: 1px solid #45abff;
    padding: 10px;
    border-radius: 30px;
    width: 150px;
    margin-right: 5px;
}

.main .center .room .room_image:hover{
    background: #efefef;
    cursor: pointer;
}

.main .center .room .room_image img{
    width: 25px;
    margin-right: 8px;
}

.main .center .room .room_image .room_tag{
    color: #45abff;
}

.main .center .room .room_profile img{
    width: 45px;
    height: 45px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    margin: 0 8px;
    border: 3px solid #45abff;
}

.main .center .friends_post{
    margin: 10px 0;
    width: 100%;
    height: auto;
    background: #fff;
    padding: 10px 15px;
    border-radius: 7px;
    box-shadow: 0 1px 8px rgba(0,0,0,0.2);
}

.main .center .friends_post .friend_post_top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.main .center .friends_post .friend_post_top .img_and_name{
    display: flex;
    align-items: center;
}

.main .center .friends_post .friend_post_top .img_and_name img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    margin-right: 8px;
    cursor: pointer;
}

.main .center .friends_post .friend_post_top .img_and_name .friends_name .friends_name{
    font-weight: bold;
    cursor: pointer;
}

.main .center .friends_post .friend_post_top .img_and_name .friends_name .friends_name:hover{
    text-decoration: underline;
}

.main .center .friends_post .friend_post_top .img_and_name .friends_name .time{
    font-size: 14px;
    color: #919191;
    margin: 3px 0;
}

.main .center .friends_post .friend_post_top .img_and_name .friends_name .time i{
    font-size: 10px;
    margin-left: 5px;
}

.main .center .friends_post .friend_post_top .menu{
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.main .center .friends_post .friend_post_top .menu:hover{
    background: #efefef;
    cursor: pointer;
}

.main .center .friends_post .friend_post_top .menu i{
    line-height: 35px;
    margin-left: 8px;
    font-size: 18px;
}

.main .center .friends_post img{
    width: 100%;
    height: 450px;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
}

.main .center .friends_post .info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
}

.main .center .friends_post .info .emoji_img{
    display: flex;
}

.main .center .friends_post .info .emoji_img img{
    width: 20px;
    height: 20px;
}

.main .center .friends_post .info .emoji_img p{
    margin-left: 10px;
    font-size: 16px;
    color: #919191;
}

.main .center .friends_post .info .comment{
    display: flex;
    align-items: center;
}

.main .center .friends_post .info .comment p{
    padding: 0 12px;
    font-size: 15px;
    color: #919191;
}

.main .center .friends_post hr{
    width: 100%;
    height: 1px;
    background: #cccccc;
    border: 0;
    margin: 10px 0;
}

.main .center .friends_post .like{
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main .center .friends_post .like .like_icon{
    display: flex;
    align-items: center;
}

.main .center .friends_post .like .like_icon i{
    font-size: 20px;
    margin-right: 8px;
    color: #919191;
}

.main .center .friends_post .like .like_icon i.activi{
    color: #45abff;
}

.main .center .friends_post .comment_warpper{
    display: flex;
    align-items: center;
}

.main .center .friends_post .comment_warpper img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    margin-right: 15px;
}

.main .center .friends_post .comment_warpper .circle{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #27cc37;
    border: 2px solid #fff;
    position: relative;
    top: 15px;
    right: 25px;
}

.main .center .friends_post .comment_warpper .comment_search{
    width: 95%;
    padding: 5px 15px;
    background: #efefef;
    border-radius: 30px;
}

.main .center .friends_post .comment_warpper .comment_search input{
    width: 85%;
    height: 30px;
    background: none;
    border: none;
    outline: none;
}

.main .center .friends_post .comment_warpper .comment_search i{
    padding: 0 5px;
    color: #919191;
}

.main .center .loard{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 500px;
}

.main .center .loard button{
    background: none;
    padding: 5px 20px;
    border: 1px solid #919191;
    color: #919191;
    border-radius: 5px;
    cursor: pointer;
}

.main .center .end{
    font-size: 15px;
    text-align: center;
    color: #919191;
    margin: 10px 0;
}

.main .center .end span{
    margin-left: 8px;
    color: #45abff;
}

.main .center .end span i{
    margin-right: 8px;
}




/*-----------------right------------------*/

.main .right{
    width: 25%;
    height: 92vh;
    overflow: hidden;
    overflow-y: scroll;
    background: #f5f5f5;
    padding: 20px 10px 5px 6px;
    position: fixed;
    right: 0;
}

.main .right::-webkit-scrollbar{
    width: 7px;
}

.main .right::-webkit-scrollbar-thumb{
    border-radius: 20px;
    background: #f5f5f5;
}

.main .right:hover::-webkit-scrollbar-thumb{
    background: #cccccc;
}

.main .right .first_warpper .page{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main .right .first_warpper .page h2{
    font-size: 18px;
    color: #919191;
    margin: 5px 0;
}

.main .right .first_warpper .page .menu{
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.main .right .first_warpper .page .menu:hover{
    background: #efefef;
    cursor: pointer;
}

.main .right .first_warpper .page .menu i{
    line-height: 35px;
    margin-left: 8px;
    font-size: 18px;
}

.main .right .first_warpper .page_img{
    display: flex;
    align-items: center;
}

.main .right .first_warpper .page_img img{
    width: 35px;
    height: 35px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    margin: 8px 15px 8px 0;
    cursor: pointer;
}

.main .right .first_warpper .page_icon{
    display: flex;
    align-items: center;
}

.main .right .first_warpper .page_icon i{
    color: #919191;
    font-size: 20px;
    margin: 8px 15px 8px 0;
}

.main .right hr{
    width: 100%;
    height: 1px;
    border: 0;
    background: #cccccc;
    margin: 10px auto;
}

.main .right .second_warpper h2{
    font-size: 18px;
    color: #919191;
    margin: 5px 0;
}

.main .right .second_warpper .img_and_tag{
    display: flex;
    align-items: center;
}

.main .right .second_warpper .img_and_tag img{
    width: 40px;
    margin: 8px 15px 8px 0;
}

.main .right .second_warpper .img_and_tag p{
    line-height: 22px;
}

.main .right .second_warpper .img_and_tag p span{
    font-weight: bold;
}

.main .right .third_warpper .contact_tag{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main .right .third_warpper .contact_tag h2{
    font-size: 18px;
    color: #919191;
    margin: 5px 0;
}

.main .right .third_warpper .contact_tag .contact_icon i{
    margin: 0 5px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    line-height: 35px;
    padding-left: 10px;
}

.main .right .third_warpper .contact_tag .contact_icon i:hover{
    background: #efefef;
    cursor: pointer;
}

.main .right .third_warpper .contact{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.main .right .third_warpper .contact:hover{
    background: #e6e8ea;
    border-radius: 2%;
}

.main .right .third_warpper .contact img{
    width: 35px;
    height: 35px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    margin: 8px 15px 8px 10px;
    border: 3px solid #45abff;
    cursor: pointer;
}

.profile-img {
    width: 100px;  /* Kích thước ảnh (điều chỉnh theo ý muốn) */
    height: 100px; /* Kích thước ảnh (điều chỉnh theo ý muốn) */
    border-radius: 50%; /* Làm ảnh thành hình tròn */
    object-fit: cover; /* Đảm bảo ảnh không bị méo khi thay đổi kích thước */
  }

  .title-msg{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
  }

  .title-msg img{
    margin-left: 10px;
    margin-right: 10px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover; 
  }

  .title-msg:hover{
    background: #f1f1f1;
    cursor: pointer;
  }

  .main .left-msg {
    width: 20%;
    height: 92vh;
    overflow-y: auto; /* Cho phép cuộn dọc khi nội dung vượt quá chiều cao */
    background: white;
    padding: 20px 6px 5px 10px;
    margin: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    position: fixed;
    display: flex;
    flex-direction: column; /* Đảm bảo các phần tử con sẽ xếp theo chiều dọc */
    align-items: center; /* Căn các phần tử con theo chiều ngang, bên trái */
    justify-content: flex-start; /* Căn các phần tử con theo chiều dọc, bên trên */
}
.edit-infor-btn{
    width: 330px;
    height: 40px;
    font-weight: 500;
    background: #d6d9dd;
}

.image-preview {
    position: relative; /* Đặt container ở chế độ relative để các phần tử con có thể định vị theo nó */
    display: inline-block; /* Để đảm bảo ảnh và nút được đặt đúng */
    max-width: 100%; /* Đảm bảo hình ảnh không bị vượt quá chiều rộng container */
}

.image-preview input {
    position: absolute; /* Đặt nút trong vị trí tuyệt đối so với container */
    top: 10px; /* Cách mép trên một khoảng */
    right: 10px; /* Cách mép phải một khoảng */
    width: 30px;
    height: 30px;
    border-radius: 50%; /* Nút hình tròn */
    background-color: #ffffff; /* Nền đỏ cho nút */
    color: #5b626a; /* Chữ màu trắng */
    border: 1px solid #f0f0f0;
    font-size: 16px; /* Kích thước chữ */
    border: none; /* Loại bỏ viền */
    cursor: pointer; /* Thêm hiệu ứng con trỏ */
    display: flex; /* Flexbox để căn giữa chữ trong nút */
    justify-content: center;
    align-items: center;
}
.submit-post{
    background-color: #0861f2;
    color: white;
    font-size: 15px;
    cursor: pointer;
}
.submit-post:hover{
    background-color: #0861f2;
}
.container-fr {
    display: flex;
    justify-content: space-between; /* Tạo khoảng cách đều giữa các phần tử */
    align-items: center; /* Căn giữa các phần tử theo chiều dọc */
    padding: 10px;
  }
  .button-container {
    display: flex;
    justify-content: flex-end; /* Đẩy các nút về phía bên phải */
    gap: 10px; /* Khoảng cách giữa hai nút */
  }
  .container-fr p {
    margin: 0; /* Loại bỏ khoảng cách mặc định của thẻ <p> */
    white-space: nowrap; /* Đảm bảo văn bản không xuống dòng */
    margin-right: 15px;
    margin-left: 20px;

  }.accept-btn{
    background-color: #0861f2;
    color: white;
    width: 80px;
    border: none;
  }.refuse-btn{
    background-color: #d6d9dd;
    color: black;
    width: 80px;
    border: none;
  }.left-content {
    display: flex;
    align-items: center; /* Căn giữa các phần tử trong left-content theo chiều dọc */
  }

  
.dropDown-f{
    list-style: none;
    padding: 10px;
    margin: 0;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    position: absolute;
    top: 100%;
    right: 0;
    width: 500px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    margin-right: 90px;
    margin-top: -5px;
    
  }


  